/*===sidebar===*/
figure {
  text-align: center;
}

#brand {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

figcaption {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}


nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 15px;
}

nav ul li.active {
  font-weight: bold;
}

/*===index===*/
.kush-well {
  border:1px dotted #eee;
  background: #FEFEFE;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.main {
  padding-top: 45px;
}