/*===sidebar===*/
figure {
  text-align: center;
}

.logo {
  width: 50%;
}

#brand {
  color: #444;
  margin: 10px auto 5px auto;
  font-weight: bold;
  padding-bottom: 0;
  border-bottom: 3px solid #444;
  width: 38%;
}

figcaption {
  font-size: 0.8em;
  margin: 2px 0;
  padding: 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 15px;
}

nav ul li.active {
  font-weight: bold;
}

/*===index===*/
.kush-well {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border:1px dotted #CCC;
  background: #FFF;
  box-shadow: 0;
}

.services {
  width: 35%;
}

/*===not implemented===*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*===common===*/
.content {
  padding-top: 45px;
}

footer {
  text-align: center;
  margin-top: 25px;
  padding: 15px 0;
  display: block;
}

/*===blog===*/
.posts {
  padding: 15px 0;
}

/*===contact===*/
.map {
  width: 100%;
  padding: 10px;
  margin: 0 0 15px 0;
  height: 300px;
  border:1px dotted #CCC;
  background: #fefefe;
}

/*===bar===*/
.team {
  width: 50%;
}

/*===tours===*/
ol.list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps {
  font-size: 1em;
  background: #444;
  color: white;
  border-radius: 100%;
  display: block;
  height: 2em;
  text-align: center;
  margin: 0 auto 1em;
  width: 2em;
  line-height: 2em;
}

.header {
  text-align: center;
  margin: 25px 0;
}

.info {
  text-align: center;
}

.thumb {
  display: inline-block;
  margin: 2px;
  padding: 0;
}
