.logo {
  width: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.logo:hover {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.sidebar figure {
  text-align: center;
}

.sidebar h1 {
  margin: 2px;
  font-size: 1.5em;
  font-weight: bold;
}

.sidebar h1 span {
  color: rgb(255,89,0);
}

.sidebar figcaption {
  margin: -6px;
  font-size: .8em;
}

.sidebar nav {
  margin: 30px 0;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar nav ul li {
  margin: 5px 0;
  padding: 5px 0;
}

.sidebar nav ul li.active {
  text-decoration: underline;
}

/*===index===*/
figure.services {
  text-align: center;
}

figure.services a {
  margin: 5px 0;
}

.kush-well {
  background: #FFF;
}

.kush-well:last-child {
  border-top: 1px solid #EEE;
  padding-top: 15px;
}

/*===not implemented===*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*===common===*/
.content {
  padding-top: 45px;
}

footer {
  text-align: center;
  margin-top: 25px;
  padding: 15px 0;
  display: block;
}

/*===blog===*/
.posts {
  padding: 15px 0;
}

/*===contact===*/
.map {
  width: 100%;
  padding: 10px;
  margin: 0 0 15px 0;
  height: 300px;
  border:1px dotted #CCC;
  background: #fefefe;
}

/*===tours===*/
ul.prices {
  list-style: none;
  padding: 0;
}

ul.prices li {
  min-width: 20%;
  min-height: 100px;

  margin: 0 15px;
  float: left;
  border: 1px solid rgb(217,222,225);
  overflow: hidden;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

ul.prices li:hover {
  background: #fdfcf6;
}

ul.prices li:first-child {
  margin-left: 0;
}

ul.prices h4 {
  text-align: center;
  font-size: 2em;
  color: rgb(71,156,207);
}

ul.prices h5 {
  padding-top: 15px;
  border-top: 1px solid #eee;
  text-align: center;
}

figure.testimonies {
  width: 50%;
}

.activity {
  background: #FFF;
  padding: 10px;
  margin: 10px 0;
  font-size: .9em;
}

.activity h5 {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.menu {
  background: url("/assets/bar/wood.png");
  padding: 30px;
}

.menu-body {
  background: #FFF;
  padding: 25px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.menu h1, .menu h2, .menu h3 {
  text-align: center;
}

.menu h1 {
  font-size: 2.5em;
}

.menu h2 {
  margin: -15px 0 10px 0;
  font-size: 1.3em;
}

.menu h3 {
  font-size: 1.2em;
  margin: 15px 0;
}


.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 60%;
}

.menu ul li {
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
}

.menu ul li:last-child {
  border-bottom-style: none;
}

.menu ul li span {
  float: right;
}

.quote img {
  border: 1px solid #eee;
  width: 2.9em;
  display: block;
  margin: 0 auto;
}

.quote p:last-child {
  text-align: center;
}

.thumb {
  display: inline-block;
  margin: 3px;
  padding: 0;
}
