/*===sidebar===*/
figure {
  text-align: center;
}

.logo {
  width: 50%;
}

#brand {
  color: #444;
  margin: 10px auto 5px auto;
  font-weight: bold;
  padding-bottom: 0;
  border-bottom: 3px solid #444;
  width: 38%;
}

figcaption {
  font-size: 0.8em;
  margin: 2px 0;
  padding: 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 5px;
  padding: 5px;
}

nav ul li.active {
  border-right:2px solid green;
}

/*===index===*/
.kush-well {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border:1px dotted #CCC;
  background: #FFF;
  box-shadow: 0;
}

/*===not implemented===*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*===common===*/
.content {
  padding-top: 45px;
}

footer {
  text-align: center;
  margin-top: 25px;
  padding: 15px 0;
  display: block;
}

/*===blog===*/
.posts {
  padding: 15px 0;
}

/*===contact===*/
.map {
  width: 100%;
  padding: 10px;
  margin: 0 0 15px 0;
  height: 300px;
  border:1px dotted #CCC;
  background: #fefefe;
}

/*===tours===*/
ul.prices {
  list-style: none;
  margin: 0;
  padding: 0
}

ul.prices li {
  background: #e3e3e3;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  border: 1px solid #DDD;
}

ul.prices li:nth-child(2n) {
  background: #eee;
}

.number {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background: #FFF;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
}

.testimonies {
  width: 25%;
}

.thumb {
  display: inline-block;
  margin: 3px;
  padding: 0;
}

img {
  vertical-align: baseline;
}
