/*===sidebar===*/
figure {
  text-align: center;
}

#brand {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

figcaption {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}


nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 15px;
}

.main {
  padding-top: 45px;
}