<figure>
	<img src="/assets/logo.png" alt="kush" class="img-circle">
	<h1 id="brand"><a href="/">KUSH</a></h1>
	<figcaption><a href="/contact.html">Salman 1C abajo</a></figcaption>
</figure>
<nav>
	<ul>
		<li class="{% if page.title == "home" %} active {% else %} no-active {% endif %}"><a href="/">Home</a></li>
		<li><a href="/tours.html">Tours</a></li>
		<li><a href="/bar.html">Bar</a></li>
		<li><a href="/blog.html">Blog</a></li>
		<li class="{% if page.title == "about" %} active {% else %} no-active {% endif %}"><a href="/about.html">About us</a></li>
		<li class="{% if page.title == "contact" %} active {% else %} no-active {% endif %}"><a href="/contact.html">Contact us</a></li>
	</ul>
</nav>