<div class="sidebar">
	<figure>
		<img src="/assets/logo.png" alt="kush" class="img-circle logo">
		<h1 id="brand">KUSH</h1>
		<figcaption><a href="/contact.html">{{ site.data.contact-information.address }}</a></figcaption>
	</figure>
	<nav>
		<ul>
			<li class="{% if page.title == "home" %} active {% else %} no-active {% endif %}"><a href="/">Home</a></li>
			<li class="{% if page.title == "tours" %} active {% else %} no-active {% endif %}"><a href="/tours.html">Tours</a></li>
			<li class="{% if page.title == "tattoo" %} active {% else %} no-active {% endif %}"><a href="/tattoo.html">Tattoo</a></li>
			<li class="{% if page.title == "bar" %} active {% else %} no-active {% endif %}"><a href="/bar.html">Bar</a></li>
			<li class="{% if page.title == "blog" %} active {% else %} no-active {% endif %}"><a href="/blog.html">Blog</a></li>
			<li class="{% if page.title == "about" %} active {% else %} no-active {% endif %}"><a href="/about.html">About us</a></li>
			<li class="{% if page.title == "contact" %} active {% else %} no-active {% endif %}"><a href="/contact.html">Contact us</a></li>
		</ul>
	</nav>
</div>
